In [1]:
import pandas as pd
import numpy as np

In [2]:
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
dim = pd.read_csv('locate', header=[0,1], index_col=0)
cupid = pd.read_csv('cupid', header=[0,1], index_col=0)
pa = pd.read_csv('main', header=[0,1], index_col=0)

In [4]:
dim.load_percent.mean()

Показатель
N1    77.800
N2    39.175
N3    58.675
N4    62.625
N5    41.475
N6    49.025
N7    53.800
N8    43.950
dtype: float64

# Купидон

stn_2p - 5
comf_2p - 7
imcomf_2p - 4
---------
16


fam_3p - 13
fam_4p - 6
---------
19


Мансарды:
2м с разд - 1
2м с двусп - 9
3м с балк - 2
---------
12

In [12]:
cupid.T.to_excel("cudon_1.0.xlsx")

В Купидоне категории намеров объеденены в две группы (двухместные и семейные)

In [5]:
cupid.profit.sum().sort_values(ascending=False)

Показатель
fam_3p       1119928.75
comf_2p       808482.16
fam_4p        665819.67
imcomf_2p     648502.75
stn_2p        566055.00
dtype: float64

In [6]:
cupid.rooms_per_day.sum().sort_values(ascending=False)

Показатель
fam_3p       11.8
comf_2p      10.7
imcomf_2p     8.5
stn_2p        7.7
fam_4p        5.7
dtype: float64

In [7]:
cupid.load_percent.mean().sort_values(ascending=False)

Показатель
imcomf_2p    52.825
stn_2p       38.400
comf_2p      38.275
fam_4p       23.825
fam_3p       22.550
dtype: float64

In [8]:
cupid.iloc[1:3].profit.sum().sum()

3381899.33

In [9]:
cup_2p = ['comf_2p', 'imcomf_2p', 'stn_2p']
cup_fam = ['fam_3p', 'fam_4p']

Ниже выручка

In [10]:
cupid.iloc[1:3].profit[cup_2p].sum().sum()

1651750.91

In [11]:
cupid.iloc[1:3].profit[cup_fam].sum().sum()

1730148.42

Процент загрузки

In [39]:
cupid.iloc[2].load_percent[cup_2p].mean()

60.73333333333333

In [38]:
cupid.iloc[2].load_percent[cup_fam].mean()

43.4

Средняя стоимость номера

In [14]:
cupid.iloc[1:3].room_coast_mean[cup_2p].mean()

Показатель
comf_2p      2464.120
imcomf_2p    2528.950
stn_2p       2431.245
dtype: float64

In [15]:
cupid.iloc[1:3].room_coast_mean[cup_fam]

Показатель   fam_3p   fam_4p
2023-07-01  3045.34  3514.42
2023-08-01  3191.17  3974.67

Занято комнат в день

In [16]:
cupid.iloc[1:3].rooms_per_day[cup_2p].mean()

Показатель
comf_2p      4.30
imcomf_2p    3.25
stn_2p       3.25
dtype: float64

In [17]:
cupid.iloc[1:3].rooms_per_day[cup_fam].mean()

Показатель
fam_3p    5.6
fam_4p    2.8
dtype: float64

# Pechory Apartment

Доход

In [5]:
pa.tail()

           load_percent                         room_coast_mean           \
Показатель      2_rooms 3_rooms 1_room P2_rooms         2_rooms  3_rooms
2023-09-01         46.7    23.3   53.3     46.7         2337.00  2800.23
2023-10-01         32.8    21.3   27.9     18.0         2223.28  3080.00
2023-11-01         30.0    23.3   53.3     30.0         2566.67  2805.71
2023-12-01         12.9     9.7   29.0     19.4         2461.25  2233.33
2024-01-01         16.1    19.4   16.1     16.1         5600.00  3950.00

                             room_profit_mean          ... rooms_per_day  \
Показатель   1_room P2_rooms          2_rooms 3_rooms  ...        1_room
2023-09-01  2119.75  2388.57          1090.60  653.39  ...           0.5
2023-10-01  2027.29  2520.00           728.94  656.39  ...           0.3
2023-11-01  2150.00  2248.89           770.00  654.67  ...           0.5
2023-12-01  2275.56  2401.67           317.58  216.13  ...           0.3
2024-01-01  3920.00  4848.00           903.23  764.52  ...           0.2

                      profit                             guests          \
Показатель P2_rooms  2_rooms  3_rooms   1_room P2_rooms 2_rooms 3_rooms
2023-09-01      0.5  32718.0  19601.6  33916.0  33440.0    14.0    24.0
2023-10-01      0.2  44465.6  40040.0  34464.0  27720.0    20.0    27.0
2023-11-01      0.3  23100.0  19640.0  34400.0  20240.0    14.0    16.0
2023-12-01      0.2   9845.0   6700.0  20480.0  14410.0     8.0     8.0
2024-01-01      0.2  28000.0  23700.0  19600.0  24240.0    10.0    22.0


Показатель 1_room P2_rooms
2023-09-01   17.0     13.0
2023-10-01   18.0     17.0
2023-11-01    7.0      3.0
2023-12-01   14.0      5.0
2024-01-01    8.0      8.0

[5 rows x 24 columns]

In [18]:
pa.profit.loc['2023-01-01': '2023-10-01'].sum().sum()

1423224.02

In [19]:
pa.profit.loc['2022-01-01': '2022-10-01'].sum().sum()

973744.65

Процент загрузки

In [7]:
pa.load_percent.loc['2023-01-01': '2023-10-01'].mean()

43.4875

In [21]:
pa.load_percent.loc['2022-01-01': '2022-10-01'].mean()

Показатель
2_rooms     29.36
3_rooms     19.33
1_room      44.95
P2_rooms    29.77
dtype: float64

In [22]:
pa.profit.loc['2021-01-01': '2021-09-01'].sum().sum()

828973.05

Средняя стоимость номера

In [23]:
pa.room_coast_mean.loc['2023-01-01': '2023-10-01'].mean()

Показатель
2_rooms     2711.598
3_rooms     3303.274
1_room      2188.634
P2_rooms    2439.823
dtype: float64

In [24]:
pa.room_coast_mean.loc['2022-01-01': '2022-10-01'].mean()

Показатель
2_rooms     2495.526
3_rooms     4141.893
1_room      2116.267
P2_rooms    2440.069
dtype: float64

Количество гостей

In [25]:
pa.guests.loc['2023-01-01': '2023-10-01'].sum()

Показатель
2_rooms     199.0
3_rooms     297.0
1_room      147.0
P2_rooms    142.0
dtype: float64

In [26]:
pa.guests.loc['2022-01-01': '2022-10-01'].sum()

Показатель
2_rooms     110.0
3_rooms     167.0
1_room      184.0
P2_rooms    147.0
dtype: float64

In [27]:
pa.guests.loc['2021-01-01': '2021-10-01'].sum()

Показатель
2_rooms     156.0
3_rooms     134.0
1_room      112.0
P2_rooms    131.0
dtype: float64

# DIM

In [5]:
dim.profit.sum().sort_values(ascending=False)

Показатель
N1    818214.26
N7    555225.03
N3    465450.00
N5    322125.00
N6    265250.00
N8    252300.00
N2    251100.00
N4    126350.00
dtype: float64

In [11]:
dim.to_excel("dimmm_1.xlsx")

In [8]:
dim.profit.sum().sum()

3056014.29